In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://bxz77733:56tmh3jr3nz-gqf0@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [3]:
%%sql
select * from shopify_data limit 10

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, 53, 746, 224, 2, 'cash', datetime.datetime(2017, 3, 13, 12, 36, 56)),
 (2, 92, 925, 90, 1, 'cash', datetime.datetime(2017, 3, 3, 17, 38, 52)),
 (3, 44, 861, 144, 1, 'cash', datetime.datetime(2017, 3, 14, 4, 23, 56)),
 (4, 18, 935, 156, 1, 'credit_card', datetime.datetime(2017, 3, 26, 12, 43, 37)),
 (5, 18, 883, 156, 1, 'credit_card', datetime.datetime(2017, 3, 1, 4, 35, 11)),
 (6, 58, 882, 138, 1, 'credit_card', datetime.datetime(2017, 3, 14, 15, 25, 1)),
 (7, 87, 915, 149, 1, 'cash', datetime.datetime(2017, 3, 1, 21, 37, 57)),
 (8, 22, 761, 292, 2, 'cash', datetime.datetime(2017, 3, 8, 2, 5, 38)),
 (9, 64, 914, 266, 2, 'debit', datetime.datetime(2017, 3, 17, 20, 56, 50)),
 (10, 52, 788, 146, 1, 'credit_card', datetime.datetime(2017, 3, 30, 21, 8, 26))]

In [4]:
%%sql
select * from shopify_data where "shop_id" = 78

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(161, 78, 990, 25725, 1, 'credit_card', datetime.datetime(2017, 3, 12, 5, 56, 57)),
 (491, 78, 936, 51450, 2, 'debit', datetime.datetime(2017, 3, 26, 17, 8, 19)),
 (494, 78, 983, 51450, 2, 'cash', datetime.datetime(2017, 3, 16, 21, 39, 35)),
 (512, 78, 967, 51450, 2, 'cash', datetime.datetime(2017, 3, 9, 7, 23, 14)),
 (618, 78, 760, 51450, 2, 'cash', datetime.datetime(2017, 3, 18, 11, 18, 42)),
 (692, 78, 878, 154350, 6, 'debit', datetime.datetime(2017, 3, 27, 22, 51, 43)),
 (1057, 78, 800, 25725, 1, 'debit', datetime.datetime(2017, 3, 15, 10, 16, 45)),
 (1194, 78, 944, 25725, 1, 'debit', datetime.datetime(2017, 3, 16, 16, 38, 26)),
 (1205, 78, 970, 25725, 1, 'credit_card', datetime.datetime(2017, 3, 17, 22, 32, 21)),
 (1260, 78, 775, 77175, 3, 'credit_card', datetime.datetime(2017, 3, 27, 9, 27, 20)),
 (1385, 78, 867, 25725, 1, 'cash', datetime.datetime(2017, 3, 17, 16, 38, 6)),
 (1420, 78, 912, 25725, 1, 'cash', datetime.datetime(2017, 3, 30, 12, 23, 43)),
 (1453, 78, 812, 25725, 1, 'credit_card', datetime.datetime(2017, 3, 17, 18, 9, 54)),
 (1530, 78, 810, 51450, 2, 'cash', datetime.datetime(2017, 3, 29, 7, 12, 1)),
 (2271, 78, 855, 25725, 1, 'credit_card', datetime.datetime(2017, 3, 14, 23, 58, 22)),
 (2453, 78, 709, 51450, 2, 'cash', datetime.datetime(2017, 3, 27, 11, 4, 4)),
 (2493, 78, 834, 102900, 4, 'debit', datetime.datetime(2017, 3, 4, 4, 37, 34)),
 (2496, 78, 707, 51450, 2, 'cash', datetime.datetime(2017, 3, 26, 4, 38, 52)),
 (2513, 78, 935, 51450, 2, 'debit', datetime.datetime(2017, 3, 18, 18, 57, 13)),
 (2549, 78, 861, 25725, 1, 'cash', datetime.datetime(2017, 3, 17, 19, 36)),
 (2565, 78, 915, 77175, 3, 'debit', datetime.datetime(2017, 3, 25, 1, 19, 35)),
 (2691, 78, 962, 77175, 3, 'debit', datetime.datetime(2017, 3, 22, 7, 33, 25)),
 (2774, 78, 890, 25725, 1, 'cash', datetime.datetime(2017, 3, 26, 10, 36, 43)),
 (2819, 78, 869, 51450, 2, 'debit', datetime.datetime(2017, 3, 17, 6, 25, 51)),
 (2822, 78, 814, 51450, 2, 'cash', datetime.datetime(2017, 3, 2, 17, 13, 25)),
 (2907, 78, 817, 77175, 3, 'debit', datetime.datetime(2017, 3, 16, 3, 45, 46)),
 (2923, 78, 740, 25725, 1, 'debit', datetime.datetime(2017, 3, 12, 20, 10, 58)),
 (3086, 78, 910, 25725, 1, 'cash', datetime.datetime(2017, 3, 26, 1, 59, 27)),
 (3102, 78, 855, 51450, 2, 'credit_card', datetime.datetime(2017, 3, 21, 5, 10, 34)),
 (3152, 78, 745, 25725, 1, 'credit_card', datetime.datetime(2017, 3, 18, 13, 13, 7)),
 (3168, 78, 927, 51450, 2, 'cash', datetime.datetime(2017, 3, 12, 12, 23, 8)),
 (3404, 78, 928, 77175, 3, 'debit', datetime.datetime(2017, 3, 16, 9, 45, 5)),
 (3441, 78, 982, 25725, 1, 'debit', datetime.datetime(2017, 3, 19, 19, 2, 54)),
 (3706, 78, 828, 51450, 2, 'credit_card', datetime.datetime(2017, 3, 14, 20, 43, 15)),
 (3725, 78, 766, 77175, 3, 'credit_card', datetime.datetime(2017, 3, 16, 14, 13, 26)),
 (3781, 78, 889, 25725, 1, 'cash', datetime.datetime(2017, 3, 11, 21, 14, 50)),
 (4041, 78, 852, 25725, 1, 'cash', datetime.datetime(2017, 3, 2, 14, 31, 12)),
 (4080, 78, 946, 51450, 2, 'cash', datetime.datetime(2017, 3, 20, 21, 14)),
 (4193, 78, 787, 77175, 3, 'credit_card', datetime.datetime(2017, 3, 18, 9, 25, 32)),
 (4312, 78, 960, 51450, 2, 'debit', datetime.datetime(2017, 3, 1, 3, 2, 10)),
 (4413, 78, 756, 51450, 2, 'debit', datetime.datetime(2017, 3, 2, 4, 13, 39)),
 (4421, 78, 969, 77175, 3, 'debit', datetime.datetime(2017, 3, 9, 15, 21, 35)),
 (4506, 78, 866, 25725, 1, 'debit', datetime.datetime(2017, 3, 22, 22, 6, 1)),
 (4585, 78, 997, 25725, 1, 'cash', datetime.datetime(2017, 3, 25, 21, 48, 44)),
 (4716, 78, 818, 77175, 3, 'debit', datetime.datetime(2017, 3, 5, 5, 10, 44)),
 (4919, 78, 823, 25725, 1, 'cash', datetime.datetime(2017, 3, 15, 13, 26, 46))]

In [5]:
%%sql
select * from shopify_data where "user_id" = 607

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(16, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 7, 4, 0)),
 (61, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 4, 4, 0)),
 (521, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 2, 4, 0)),
 (1105, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 24, 4, 0)),
 (1363, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 15, 4, 0)),
 (1437, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 11, 4, 0)),
 (1563, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 19, 4, 0)),
 (1603, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 17, 4, 0)),
 (2154, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 12, 4, 0)),
 (2298, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 7, 4, 0)),
 (2836, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 28, 4, 0)),
 (2970, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 28, 4, 0)),
 (3333, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 24, 4, 0)),
 (4057, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 28, 4, 0)),
 (4647, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 2, 4, 0)),
 (4869, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 22, 4, 0)),
 (4883, 42, 607, 704000, 2000, 'credit_card', datetime.datetime(2017, 3, 25, 4, 0))]

In [6]:
%%sql
select count(*) from shopify_data where "shop_id" = 78

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('46'),)]

In [7]:
%%sql
select count(*) from shopify_data where "user_id" = 607

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('17'),)]

In [8]:
%%sql
select "user_id", count(*) as number_of_purchases from shopify_data group by "user_id"

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(607, Decimal('17')),
 (700, Decimal('16')),
 (701, Decimal('13')),
 (702, Decimal('13')),
 (703, Decimal('16')),
 (704, Decimal('14')),
 (705, Decimal('22')),
 (706, Decimal('13')),
 (707, Decimal('18')),
 (708, Decimal('14')),
 (709, Decimal('14')),
 (710, Decimal('16')),
 (711, Decimal('22')),
 (712, Decimal('23')),
 (713, Decimal('19')),
 (714, Decimal('13')),
 (715, Decimal('12')),
 (716, Decimal('14')),
 (717, Decimal('7')),
 (718, Decimal('28')),
 (719, Decimal('9')),
 (720, Decimal('15')),
 (721, Decimal('19')),
 (722, Decimal('13')),
 (723, Decimal('23')),
 (724, Decimal('17')),
 (725, Decimal('19')),
 (726, Decimal('18')),
 (727, Decimal('25')),
 (728, Decimal('16')),
 (729, Decimal('10')),
 (730, Decimal('15')),
 (731, Decimal('20')),
 (732, Decimal('13')),
 (733, Decimal('17')),
 (734, Decimal('24')),
 (735, Decimal('14')),
 (736, Decimal('20')),
 (737, Decimal('12')),
 (738, Decimal('19')),
 (739, Decimal('18')),
 (740, Decimal('14')),
 (741, Decimal('17')),
 (742, Decimal('18')),
 (743, Decimal('12')),
 (744, Decimal('17')),
 (745, Decimal('24')),
 (746, Decimal('21')),
 (747, Decimal('11')),
 (748, Decimal('16')),
 (749, Decimal('20')),
 (750, Decimal('7')),
 (751, Decimal('11')),
 (752, Decimal('17')),
 (753, Decimal('15')),
 (754, Decimal('14')),
 (755, Decimal('16')),
 (756, Decimal('22')),
 (757, Decimal('11')),
 (758, Decimal('14')),
 (759, Decimal('23')),
 (760, Decimal('15')),
 (761, Decimal('18')),
 (762, Decimal('21')),
 (763, Decimal('16')),
 (764, Decimal('19')),
 (765, Decimal('13')),
 (766, Decimal('10')),
 (767, Decimal('14')),
 (768, Decimal('22')),
 (769, Decimal('11')),
 (770, Decimal('18')),
 (771, Decimal('15')),
 (772, Decimal('13')),
 (773, Decimal('18')),
 (774, Decimal('21')),
 (775, Decimal('16')),
 (776, Decimal('17')),
 (777, Decimal('15')),
 (778, Decimal('21')),
 (779, Decimal('12')),
 (780, Decimal('11')),
 (781, Decimal('15')),
 (782, Decimal('15')),
 (783, Decimal('16')),
 (784, Decimal('20')),
 (785, Decimal('23')),
 (786, Decimal('25')),
 (787, Decimal('25')),
 (788, Decimal('18')),
 (789, Decimal('23')),
 (790, Decimal('19')),
 (791, Decimal('26')),
 (792, Decimal('16')),
 (793, Decimal('24')),
 (794, Decimal('21')),
 (795, Decimal('15')),
 (796, Decimal('14')),
 (797, Decimal('16')),
 (798, Decimal('19')),
 (799, Decimal('22')),
 (800, Decimal('21')),
 (801, Decimal('17')),
 (802, Decimal('12')),
 (803, Decimal('15')),
 (804, Decimal('12')),
 (805, Decimal('14')),
 (806, Decimal('10')),
 (807, Decimal('15')),
 (808, Decimal('21')),
 (809, Decimal('14')),
 (810, Decimal('16')),
 (811, Decimal('22')),
 (812, Decimal('9')),
 (813, Decimal('14')),
 (814, Decimal('14')),
 (815, Decimal('18')),
 (816, Decimal('13')),
 (817, Decimal('16')),
 (818, Decimal('19')),
 (819, Decimal('16')),
 (820, Decimal('11')),
 (821, Decimal('13')),
 (822, Decimal('13')),
 (823, Decimal('24')),
 (824, Decimal('17')),
 (825, Decimal('16')),
 (826, Decimal('12')),
 (827, Decimal('14')),
 (828, Decimal('12')),
 (829, Decimal('19')),
 (830, Decimal('11')),
 (831, Decimal('14')),
 (832, Decimal('13')),
 (833, Decimal('10')),
 (834, Decimal('18')),
 (835, Decimal('15')),
 (836, Decimal('19')),
 (837, Decimal('15')),
 (838, Decimal('13')),
 (839, Decimal('20')),
 (840, Decimal('14')),
 (841, Decimal('20')),
 (842, Decimal('23')),
 (843, Decimal('14')),
 (844, Decimal('16')),
 (845, Decimal('21')),
 (846, Decimal('11')),
 (847, Decimal('26')),
 (848, Decimal('23')),
 (849, Decimal('19')),
 (850, Decimal('15')),
 (851, Decimal('14')),
 (852, Decimal('23')),
 (853, Decimal('22')),
 (854, Decimal('18')),
 (855, Decimal('17')),
 (856, Decimal('16')),
 (857, Decimal('23')),
 (858, Decimal('19')),
 (859, Decimal('14')),
 (860, Decimal('19')),
 (861, Decimal('14')),
 (862, Decimal('17')),
 (863, Decimal('22')),
 (864, Decimal('19')),
 (865, Decimal('13')),
 (866, Decimal('14')),
 (867, Decimal('11')),
 (868, Decimal('27')),
 (869, Decimal('14')),
 (870, Decimal('15')),
 (871, Decimal('22')),
 (872, Decimal('17')),
 (873, Decimal('18')),
 (874, Decimal('21')),
 (875, Decimal('21')),
 (876, Decimal('17')),
 (877, Decimal('17')),
 (878, Decimal('11')),
 (879, Decimal('17')),
 (880, Decimal('13')),
 (881, Decimal('14')),
 (882, Decimal('11')),
 (883, Decimal('19')),
 (884, Decimal('22')),
 (885, Decimal('17')),
 (886, Decimal('17')),
 (887, Decimal('14')),
 (888, Decimal('17')),
 (889, Decimal('14')),
 (890, Decimal('19')),
 (891, Decimal('14')),
 (892, Decimal('13')),
 (893, Decimal('16')),
 (894, Decimal('21')),
 (895, Decimal('17')),
 (896, Decimal('12')),
 (897, Decimal('18')),
 (898, Decimal('15')),
 (899, Decimal('15')),
 (900, Decimal('16')),
 (901, Decimal('19')),
 (902, Decimal('9')),
 (903, Decimal('12')),
 (904, Decimal('12')),
 (905, Decimal('12')),
 (906, Decimal('20')),
 (907, Decimal('15')),
 (908, Decimal('15')),
 (909, Decimal('13')),
 (910, Decimal('15')),
 (911, Decimal('14')),
 (912, Decimal('20')),
 (913, Decimal('16')),
 (914, Decimal('17')),
 (915, Decimal('14')),
 (916, Decimal('16')),
 (917, Decimal('17')),
 (918, Decimal('11')),
 (919, Decimal('13')),
 (920, Decimal('19')),
 (921, Decimal('22')),
 (922, Decimal('23')),
 (923, Decimal('22')),
 (924, Decimal('10')),
 (925, Decimal('18')),
 (926, Decimal('12')),
 (927, Decimal('13')),
 (928, Decimal('16')),
 (929, Decimal('14')),
 (930, Decimal('18')),
 (931, Decimal('18')),
 (932, Decimal('24')),
 (933, Decimal('20')),
 (934, Decimal('22')),
 (935, Decimal('16')),
 (936, Decimal('18')),
 (937, Decimal('13')),
 (938, Decimal('13')),
 (939, Decimal('10')),
 (940, Decimal('17')),
 (941, Decimal('16')),
 (942, Decimal('22')),
 (943, Decimal('12')),
 (944, Decimal('20')),
 (945, Decimal('14')),
 (946, Decimal('15')),
 (947, Decimal('17')),
 (948, Decimal('16')),
 (949, Decimal('15')),
 (950, Decimal('17')),
 (951, Decimal('12')),
 (952, Decimal('15')),
 (953, Decimal('19')),
 (954, Decimal('19')),
 (955, Decimal('9')),
 (956, Decimal('14')),
 (957, Decimal('14')),
 (958, Decimal('16')),
 (959, Decimal('19')),
 (960, Decimal('16')),
 (961, Decimal('15')),
 (962, Decimal('14')),
 (963, Decimal('18')),
 (964, Decimal('13')),
 (965, Decimal('14')),
 (966, Decimal('17')),
 (967, Decimal('21')),
 (968, Decimal('23')),
 (969, Decimal('23')),
 (970, Decimal('20')),
 (971, Decimal('15')),
 (972, Decimal('17')),
 (973, Decimal('11')),
 (974, Decimal('18')),
 (975, Decimal('23')),
 (976, Decimal('14')),
 (977, Decimal('13')),
 (978, Decimal('21')),
 (979, Decimal('21')),
 (980, Decimal('20')),
 (981, Decimal('14')),
 (982, Decimal('17')),
 (983, Decimal('21')),
 (984, Decimal('15')),
 (985, Decimal('21')),
 (986, Decimal('22')),
 (987, Decimal('21')),
 (988, Decimal('16')),
 (989, Decimal('16')),
 (990, Decimal('19')),
 (991, Decimal('14')),
 (992, Decimal('20')),
 (993, Decimal('12')),
 (994, Decimal('21')),
 (995, Decimal('15')),
 (996, Decimal('21')),
 (997, Decimal('13')),
 (998, Decimal('9')),
 (999, Decimal('24'))]

In [9]:
%%sql
select AVG("order_amount"/"total_items") as val_per_item_all from shopify_data 

--average per item value

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('387.742800'),)]

In [10]:
%%sql
select avg("order_amount"/"total_items") as value_per_item from shopify_data where "shop_id" != 78

--- average per item value where shop ID 78 (the very expensive sneaker) is excluded

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('152.475575'),)]

In [11]:
%%sql
select avg("order_amount") as average_order_value from shopify_data where "user_id" != 607 AND "shop_id" != 78

--- average order value exluding both non-representative shop and users

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('302.580514'),)]

In [12]:
%%sql
select avg("order_amount") as average_order_value from shopify_data where "user_id" != 607 

--average order value exluding user 607 who purchases huge orders

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('754.091912'),)]

In [13]:
%%sql
select "payment_method", avg("order_amount") as average_order_value from shopify_data where "user_id" != 607 AND "shop_id" != 78 group by "payment_method"

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('cash', Decimal('297.974619')),
 ('credit_card', Decimal('301.415105')),
 ('debit', Decimal('308.176043'))]

In [14]:
%%sql
select "payment_method", avg("order_amount"/"total_items") as average_order_value from shopify_data where "user_id" != 607 and "shop_id" != 78 group by "payment_method"

 * ibm_db_sa://bxz77733:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('cash', Decimal('151.074873')),
 ('credit_card', Decimal('151.732435')),
 ('debit', Decimal('152.526920'))]